$buttonColors: (
  default: (
    $white,
    $dark-gray,
    $default-font-color
  ),
  primary: (
    $primary-color,
    $primary-color,
    $white
  ),
  secondary: (
    $secondary-color,
    $secondary-color,
    $white
  ),
  success: (
    $success-color,
    $success-color,
    $white
  ),
  danger: (
    $danger-color,
    $danger-color,
    $white
  ),
  warning: (
    $warning-color,
    $warning-color,
    $white
  )
);

.#{$prefix}-button {
  border: 1px solid;
  border-radius: $default-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $font-size-base;
  margin: 0;
  height: $input-height;
  line-height: $input-height;
  padding: 0 $padding-md;
  text-decoration: none;
  text-transform: none;
  transition: $default-transition-speed all $default-transition-easing;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.is-small {
    font-size: $font-size-sm;
    padding: 0 $padding-xs;
  }

  &.is-large {
    font-size: $font-size-lg;
  }

  &.is-block {
    width: 100%;
  }

  @each $buttonType, $colors in $buttonColors {
    $backgroundColor: nth($colors, 1);
    $borderColor: nth($colors, 2);
    $fontColor: nth($colors, 3);

    &.is-#{$buttonType} {
      background-color: $backgroundColor;
      border-color: $borderColor;
      color: $fontColor;

      &:focus,
      &:active {
        box-shadow: inputFocusedShadow($borderColor);
      }

      &:hover:not([disabled]) {
        background-color: colorDark($backgroundColor);
        border-color: colorDark($borderColor);
      }

      &:active {
        background-color: colorVeryDark($backgroundColor);
        border-color: colorVeryDark($borderColor);
      }

      &:disabled {
        background-color: colorLight($backgroundColor);
        border-color: colorLight($borderColor);
        color: $dark-gray;
      }
    }
  }

  &.is-link {
    background-color: $white;
    border-color: $white;
    color: $primary-color;

    &:focus,
    &:active {
      color: colorVeryDark($primary-color);
    }

    &:hover:not([disabled]) {
      color: colorDark($primary-color);
    }

    &:disabled {
      color: colorVeryLight($primary-color);
    }
  }
}
