$button-types: (
	"default": $gray,
	"danger": $danger-color,
	"success": $success-color,
	"warning": $warning-color
);

.#{$prefix}-button {
		border: 1px solid;
		border-radius: $default-border-radius;
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: $font-size-base;
		margin: 0;
		padding: $padding-sm $padding-md;
		text-decoration: none;
		text-transform: none;
		transition: $default-transition-speed all $default-transition-easing;
		-webkit-appearance: none;
		-moz-appearance: none;

		&:focus {
			outline: 0;
		}

		@each $type, $type-color in $button-types {
			&.is-#{$type} {
				background-color: $type-color;
				border-color: $type-color;

				&:hover {
					background-color: darken($type-color, 5%);
					border-color: darken($type-color, 5%);
				}

				&:active {
					background-color: darken($type-color, 10%);
					border-color: darken($type-color, 10%);
				}
			}
		}
}
