$selectColors: (
  default: $dark-gray,
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  danger: $danger-color,
  warning: $warning-color
);

.#{$prefix}-select {
  display: inline-block;
  position: relative;
  font-size: $font-size-base;

  select {
    background-color: $white;
    border: 1px solid;
    border-radius: $default-border-radius;
    color: $default-font-color;
    cursor: pointer;
    display: block;
    height: $input-height;
    font-size: inherit;
    line-height: $input-height;
    padding-left: $padding-sm;
    padding-right: $padding-xl;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  &::after {
    content: " ";
    height: 0.57em;
    width: 0.57em;
    display: block;
    border: 2px solid;
    border-right: 0;
    border-radius: 2px;
    border-top: 0;
    pointer-events: none;
    position: absolute;
    transform-origin: center;
    transform: rotate(-45deg);
    top: 50%;
    right: 8px;
    margin-top: -0.41em;
  }

  &.is-block {
    display: block;
  }

  &.is-small {
    font-size: $font-size-sm;
  }

  &.is-large {
    font-size: $font-size-lg;
  }

  &.is-disabled {
    select {
      cursor: not-allowed;
      color: colorVeryLight($default-font-color);
    }
  }

  @each $name, $color in $selectColors {
    &.is-#{$name} {
      select {
        border-color: $color;

        &:focus,
        &:active {
          box-shadow: inputFocusedShadow($color);
        }
      }

      &::after {
        color: $color;
      }

      &.is-disabled {
        select {
          border-color: colorVeryLight($color);
        }

        &::after {
          color: colorVeryLight($color);
        }
      }
    }
  }
}
