$white: #ffffff !default;
$light-gray: #dfe6e9 !default;
$gray: #b2bec3 !default;
$dark-gray: #636e72 !default;
$extra-dark-gray: #2d3436 !default;

$success-color: #00b894 !default;
$danger-color: #d63031 !default;
$warning-color: #fdcb6e !default;
