$white: #ffffff !default;
$light-gray: #dbdbdb !default;
$gray: #b2bec3 !default;
$dark-gray: #636e72 !default;
$extra-dark-gray: #2d3436 !default;

$success-color: #23d160 !default;
$danger-color: #ff3860 !default;
$warning-color: #ffdd57 !default;

$color-map: (
  "default": $gray,
	"danger": $danger-color,
	"success": $success-color,
	"warning": $warning-color
)
